**/node_modules?
*.log
**/build/
**/dist/
**/tmp/
**/bin
*.roo
*.tmp
*.zip
*.DS_Store
*.gradle
**/target/
**/gradle/wrapper/
**/ocp-dev-database-backup/
**/.idea/
**/*.iml
#/microservices/ocp-config-dataocp-config-data/
**/.vscode
**/credentials.json
**/credentials
**/.tool-versions
**/google-cloud-sdk/